<section class="home-main-space">
    <div class="row">
        <div class="left-column col-xl-3 col-lg-4">
            <h2>Qual o intuito do IBM Test?</h2>
            <p class="description">Hoje em dia é comum empresas lançarem uma nova campanha de marketing através de hashtags (#).
                <br>Agora você pode mensurar o desempenho de diversas campanhas, tais como os locais aos quais estas campanhas
                estão sendo mais comentadas.</p>

            <div class="services-description">
                <strong>Serviços usados:</strong>
                <br><br>
                <ul>
                    <li>Twitter Api</li>
                    <li>Google Maps Api</li>
                    <li>Google Geocode Api</li>
                    <li>Watson Ai Api</li>
                </ul>
            </div>
        </div>
        <div class="right-column col-xl-9 col-lg-8">
            <div class="main-center-area">
                <h1 class="main-title">IBM Test</h1>
                <label class="subtitle"> Clique para acessar com sua conta do twitter e começe a testar.</label>
                <div class="buttons-area">
                    <a class="sign-in" href="/twitter/login"> Acessar </a>
                </div>
            </div>
        </div>
    </div>
</section>