/** ------ General to Page --------**/

.card {
    border: 0;
    margin: 1rem auto;
}

/** ------ Search Section --------**/

.section-search {
    display: block;
    background-color: #481e69;
    padding: 2.5rem;
}

#tweetsSearch {
    position: relative;
    width: 50%;
    margin: auto;
    min-width: 300px;
    max-width: 900px;
}

#tweetsSearch label {
    font-weight: 600;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: .8rem;
}

#searchTerm {
    border-radius: 5rem;
    border: none;
    padding: .375rem 3.2rem .375rem .75rem;
    min-width: 300px;
    max-width: 900px;
    background-color: rgb(232, 240, 254) !important;
}

#tweetsSearch button[type='submit'] {
    position: absolute;
    bottom: .1rem;
    right: .5rem;
    font-size: .975rem;
    background: transparent !important;
    border: none;
    color: #481e69;
    padding: .35rem .7rem;
    outline: none;
    box-shadow: none;
}

/** ------ Tweets Section --------**/

.card-twitter {
    border-radius: 1.2rem 1.2rem 0 0;
    overflow: hidden;
}

.section-tweets {
    display: block;
}

.card-header {
    background-color: #50abf1;
    border-color: #50abf1;
    color: #fff;
    padding: 1.2rem 1.8rem;
}

.card-title {
    font-size: 2.5rem;
    margin: 0;
}

.card-title svg,
.card-title i {
    margin-right: .5rem;
}

.tweets-area {
    padding: 0;
}

.tweets-area ul {
    max-height: 500px;
    overflow-y: auto;
}

.tweets-result {
    color: #50abf1;
    text-align: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #f5f5f5;
}

/** ------ Tweets Content --------**/

.tweets-area li {
    float: left;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid #f5f5f5;
    border-left: 3px solid transparent;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.tweets-area li:hover {
    background: #f5f5f5;
}

.tweet-content {
    display: block;
    margin-left: 88px;
}

#cardTweets li img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    float: left;
    margin-left: -80px;
}

#cardTweets .tweet-info {
    display: block;
    width: 100%;
    float: left;
}

#cardTweets .tweet-text {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    color: #000;
}

#cardTweets .screenName {
    display: inline-block;
    font-size: .9rem;
}

.tweet-selected {
    border-left: 3px solid #481e69 !important;
}

/** ------ MAPS --------**/

#map {
    height: 500px;
    width: 100%;
}

/** ------ Watson Section --------**/
.section-analyze {
    background: #171717;
    color: #fff;
}

.section-analyze h2 {
    position: relative;
    width: 80%;
    height: 100%;
    line-height: 3rem;
    margin: 0;
    float: left;
}

.section-analyze small {
    position: relative;
    width: 80%;
    float: left;
}

.watson-analyze-btn {
    position: absolute;
    display: inline-block;
    width: 20%;
    margin: auto;
    text-align: right;
    /* float: right; */
    height: 100%;
}

.watson-analyze-btn .btn {
    display: block;
    float: right;
    margin: auto;
    border: 0;
    border-radius: 0;
    background: #2ec2fa;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: 200ms ease-in-out;
}

.watson-analyze-btn .btn:hover {
    background: #4c80bf;
}

.tweet-highlight {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 1.3rem;
    margin: 2.5rem 0;
}

.mini-card {
    margin: 15px 0;
    border: 0;
    border-radius: 0;
    background: #282828;
    padding: 1rem;
}

.mini-card svg,
.mini-card i {
    display: block;
    margin: auto;
    font-size: 1.75rem;
}

.mini-card label {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin: .75rem 0;
}

.mini-card input {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    box-shadow: none;
}

/** ------ Ranking Section --------**/
.categories-ranking{
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 2.5rem 0;
}

.categories-btn{
    width: 19%;
    display: inline-block;
    padding: .2rem;
}

.categories-ranking .btn{
    border: 2px solid transparent;
    width: 100%;
    background: #fff;
    color: #c2c2c2;
    font-weight: 500;
    padding: .5rem;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(222, 222, 222, 1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(222, 222, 222, 1);
    box-shadow: 1px 1px 2px 0px rgba(222, 222, 222, 1);
    transition: 200ms ease-in-out;
}

.categories-ranking .btn:hover {
    background: #f5f5f5;
}

.categories-ranking .btn.selected{
    border: 2px solid #2ec2fa;
    color: #2ec2fa;
}

.carousel-area{
    position: relative;
    display: block;
    overflow: hidden;
}

.carousel-header {
    position: relative;
    display: block;
    text-align: center;
    margin: 1rem 0 0.5rem;
}

.carousel-user{
    font-size: 1.2rem;
    font-weight: 500;
}

.carousel-text{
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.8rem;
}

/* MOBILE */

@media screen and (max-width: 800px) {
    /* Tweets */
    .tweets-area li {
        padding: 1rem;
    }
    .tweet-content {
        margin-left: 60px;
    }
    #cardTweets li img {
        width: 50px;
        height: 50px;
        margin-left: -65px;
    }
    #cardTweets .screenName {
        float: none !important;
        display: block;
    }
    /* Watson */
    .watson-analyze-btn {
        position: relative;
        display: block;
        width: 100%;
        margin: 1rem auto;
    }
    .section-analyze h2,
    .section-analyze small,
    .watson-analyze-btn .btn {
        float: none;
    }
    /* Ranking */
    .categories-btn{
        width: 49%;
    }
}