header {
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    margin-left: 0px;
    padding: 0;
    background: #fff;
    z-index: 2;
    border-bottom: 1px solid rgba(49, 211, 247, 0.5);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .3);
}

header .row {
    height: 100%;
    margin: 0 !important;
    text-align: center;
}

header .header-logo {
    line-height: 60px;
    cursor: default;
}

header .sign-in-header a {
    outline: none !important;
    text-decoration: none !important;
    text-align: center;
    line-height: 60px;
    background: transparent;
    border: .15rem solid #2ec2fa;
    color: #2ec2fa;
    font-weight: 600;
    padding: 0.35rem 0.85rem;
    border-radius: 8px;
    font-size: 1rem;
    transition: 150ms ease-in-out;
}

header .sign-in-header a:hover {
    background: #2ec2fa;
    color: #fff;
}

main {
    display: block;
    margin: auto;
    float: left;
    width: 100%;
    background-color: #eff2f7;
    overflow: hidden;
}

.main-container {
    display: block;
    float: left;
    /* padding: 1rem; */
    width: 100%;
}

ul {
    display: block;
    /* text-align: center; */
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

/* .card-header{
    background-color: #794bc4;
    border-color: #A784D6;
    color: #fff;
} */

/* .content-left {
    float: left;
    width: 50%;
    padding: .5rem;
}

.content-right {
    float: right;
    width: 50%;
    padding: .5rem;
} */

footer {
    position: relative;
    display: block;
    float: left;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #0d0f13;
    color: white;
}

.footerContainer {
    position: relative;
    padding: 10px 0;
    margin: auto;
    text-align: center;
}

small {
    font-size: 90%;
    font-weight: 400;
}